<!DOCTYPE html>
<html>
    <head>
      <meta charset = "UTF-8">
      <meta name = "viewport width=device-width initial-scale,1.0">
      <title>Furniture Shop</title>
      <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin = "anonymous">
      <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity = "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin = "anonymous"></script>      
      <link rel = "stylesheet" type="text/css" href="css/bootstrap.css">
      <link href = "https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
      <link rel = "stylesheet" type="text/css" href="CSS2/style1.css">  
    </head>
    <body>
      <nav class="navbar sticky-top navbar-light bg-light">
        <div class = "container-fluid">
          <a class = "navbar-brand" href="#home"><img id="logo1" src="Images/logo.png"></a>
          <button class = "navbar-toggler" type="button"  data-bs-toggle = "collapse" data-bs-target="#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded="false" aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
          </button>
          <div class = "collapse navbar-collapse" id="navbarSupportedContent">
            <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
              <li class = "nav-item">
                <a class = "nav-link active" aria-current="page" href="#about"> About </a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link" href="#contact1"> Contact </a>
              </li>
            </ul>               
          </div>
        </div>
      </nav>    
      <div class = "bannerImage">
        <div class = "page-header">
          <h3 class="priceClass" class = "text-center">Furniture</h3>
        </div>
        <img src = "images/Banner.jpg" class="d-block w-100" alt="...">
      </div>
      <div id="home"></div>
      <main class="container-fluid">  
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
            <!--Shopping cart Section START  -->
          <div id="gallery">
            <div id="cart">
              <div class="card-body">
                <h6 class = "fw-light">Your Shopping Cart</h6>
                <ul class="list-group list-group-flush">
                                                                <!-- Change this line to add from cart.json -->
                  <li class="list-group-item"                   v-for="(item, i) in cart" :key="i">
                    <div class="card" style="width: 18rem;">
                      <b>{{item.name}}</b>
                      <b>R{{item.price}}</b>
                      <img :src="item.image" width="120px" height="auto">
                      <button @click="deleteItem(i)" >Remove Item</button>
                      
                    </div>
                  </li>
                </ul>
              </div>
              <p>Your Total:</p>
              <h3 id ="tot">R {{total}}.00 </h3>
              <button @click="checkout()" class = "btn btn-primary">Checkout</button>
            </div>
          <!-- Add Total Item Count and Price Below Shopping Basket -->
          
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->
          <!-- Shopping cart END -->






          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <!-- Gallery START -->
          <h3 class = "fw-light">Featured Products</h3>
          <p class = "text-muted">All Pictures are just Place Holders</p>
          <div class="container">
            <div class="row align-items-start">
              
            <ul>
              <li class="col" v-for="(item, i) in items" :key="item.id">
                <div class = "card">
                  <div id="pic"><img class="img-fluid" :src="item.image"/></div>
                  <div class="card-header">
                    <div >
                      <h3>{{item.name}}</h3>
                      <p>{{item.description}}</p>
                      <h4>R {{item.price}}</h4>
                      
                      <button @click="add2cart(item)"  class="btn btn-primary btn-md">Add to Basket</button>
                    </div>
                  </div>
              </li>
            </ul>  
            </div>
          </div>
        </div>
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->
        <!-- Gallery END -->


        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
        <!-- Carousel Section Start -->
            <section class = " text-center container">
              <div class = "row py-lg-5">
                <div class = "col-lg-6 col-md-8 mx-auto">
                  <h3 class = "fw-light">New Collection</h3>
                  <p class = " text-muted">All Pictures are Place Holders</p>
                </div>
              </div>
            </section>
              <div id = "carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class = "carousel-indicators">
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 6"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 7"></button>
                  <button type = "button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 8"></button>
                </div>
                <div class = "carousel-inner">
                  <div class = "carousel-item active">
                    <img src = "images/couches/fancyChair.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">Grey Couch</h3>
                        <h4 class="priceClass">R6000.00</h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                  </div>
                  <div class = "carousel-item">
                    <img src = "images/coffee/whiteCoffeeTable.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">White Coffee table</h3>
                        <h4 class="priceClass">R2200.00</h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                  </div>
                  <div class = "carousel-item">
                    <img src = "images/beds/darkDrawerBed.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">Furniture names go here</h3>
                        <h4 class="priceClass">Prices Go Here<h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                  </div>
                  <div class = "carousel-item">
                    <img src = "images/misc/whiteDiningRoomTable.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">Furniture names go here</h3>
                        <h4 class="priceClass">Prices Go Here<h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                  </div>
                  <div class = "carousel-item">
                    <img src = "images/desks/LshapeOffice.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">Furniture names go here</h3>
                        <h4 class="priceClass">Prices Go Here<h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                  </div>
                  <div class = "carousel-item">
                    <img src = "images/desks/trussTableOfficeDesk.jpg" class="d-block w-100" alt="...">
                    <div class = "carousel-caption d-none d-md-block">
                      <div class = "carousel-caption">
                        <h3 class="priceClass">Furniture names go here</h3>
                        <h4 class="priceClass">Prices Go Here<h4>
                        <p><a href = "#" class="btn btn-primary btn-md">Add to Basket</a></p>
                      </div>   
                    </div>
                </div>
                </div>
                <button class = "carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class = "carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class = "visually-hidden">Previous</span>
                </button>
                <button class = "carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class = "carousel-control-next-icon" aria-hidden="true"></span>
                  <span class = "visually-hidden">Next</span>
                </button>
              </div>
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
              <!-- ############################Carousel Section End############################################## -->
          


              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <!-- MEEET TEAM SECTION START -->
              <div id="about"></div>
              <div class=" text-center text-info background-info">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto col-md-12">
                            <h1 class="mb-3" contenteditable="true">Meet our team</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 p-4"> 
                          <img class="img-fluid d-block mb-3 mx-auto rounded-circle" 
                          alt="Card image cap" 
                          width="200" 
                          src="">
                            <h4> <b>Nate Raltz</b> </h4>
                            <p class="mb-0">Owner</p>
                        </div>
                        <div class="col-lg-4 col-md-6 p-4"> 
                          <img class="img-fluid d-block mb-3 mx-auto rounded-circle" 
                          src="" 
                          alt="Card image cap" 
                          width="200">
                            <h4> <b>Dean Lotz</b> </h4>
                            <p class="mb-0">Sales</p>
                        </div>
                        <div class="col-lg-4 p-4"> 
                          <img class="img-fluid d-block mb-3 mx-auto rounded-circle" 
                          src="" 
                          width="200">
                            <h4> <b>Jason Clemo</b> </h4>
                            <p class="mb-0">Receptionist</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->
            <!-- Meet TEAM SECTION END -->




            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
            <!-- COntact Section START -->
           <div id="contact1"></div>
            <h6 class = "fw-light">Contact Us</h6>
                <div class="card-body">      
                <Form>
                  <div class="card bg-light">
                  <label for="name">Name</label>
                  <input id="name" type="text" required>
                </div>
                <br>
                  <div class="card bg-light">
                  <label for="surname">Surname</label>
                  <input id="surname" type="text" required>
                </div>
                <br> 
                  <div class="card bg-light">
                  <label for="email">Phone Number</label>
                  <input id="email" type="email" required>
                </div> 
                <br>
                  <div class="card bg-light"></div> 
                  <input id="submit" type="submit" value="Submit">
                </Form>
              </div>
                <div id="mapDiv" class="card bg-dark">
                  <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.9499738750824!2d18.46846751521147!3d-33.91668708064304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5db249dfaaf5%3A0x78dce8f83221829e!2s3%20Bridgewater%20St%2C%20Paarden%20Eiland%2C%20Cape%20Town%2C%207405!5e0!3m2!1sen!2sza!4v1626681246971!5m2!1sen!2sza" 
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  ></iframe>
                </div>
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
                <!-- Contact Section END -->
      </main>
        <footer class = "text-muted ">
          <div class = "container">
            <p class = "float-end mb-1">
              <a class="btn-group-sm" href = "#">Back to top</a>
            </p>
          </div>
        </footer>

        <script src = "https://unpkg.com/vue"></script>
        <script>
        let galleryItems = new Vue({
            el: '#gallery', 
            computed: {
              total(){
              let total = 0;
              for(let i = 0; i < this.cart.length; i++){
                total += this.cart[i].price;
              }
              return total;
            }
            },
            data: {
              items: [{
                  id : 1,
                  name : 'Double King Sized Bed', 
                  image : 'images/beds/bigWhiteBed.jpg',
                  price : 20000, 
                  description : 'A double king sized bed with a white interior and a black cover'
                },
                {
                  id : 2, 
                  name : 'Queen Sized Bed with Storage Drawers', 
                  image : 'images/beds/darkDrawerBed.jpg', 
                  price : 15000, 
                  description : 'A queen sized bed with a dark storage drawer'
                },
                {
                  id : 3, 
                  name : 'King Sized Bed', 
                  image : 'images/beds/fancyBed.jpg', 
                  price : 12000, 
                  description : 'A king sized bed with a white interior and a black cover'
                },
                {
                  id : 4, 
                  name : 'Pine King', 
                  image : 'images/beds/fancyPineBed.jpg', 
                  price : 8000, 
                  description : 'A twin sized bed with a white interior and a black cover'
                },
                {
                  id : 5, 
                  name : 'Queen Sized Bed', 
                  image : 'images/beds/royalBed.jpg', 
                  price : 15000, 
                  description : 'A queen sized bed with a white interior and a black cover'
                },
                {
                  id : 6, 
                  name : 'Glass coffee table', 
                  image : 'images/coffee/glassCoffeeTable.jpg', 
                  price : 3000, 
                  description : 'Stylish Glass Coffee table'},
                {
                  id : 7, 
                  name : 'Wooden coffee table', 
                  image : 'images/coffee/whiteCoffeeTable.jpg', 
                  price : 2000, 
                  description : 'White Coffee table'},
                {
                  id : 8, 
                  name : 'Wooden Coffee Table on wheels', 
                  image : 'images/coffee/whitewheelCoffeeTable.jpg', 
                  price : 3000, 
                  description : 'Easy To Move coffee table'},
                {
                  id : 9, 
                  name : 'Two Piece Coffee table set', 
                  image : 'images/coffee/yellowCoffeeTableSet.jpg', 
                  price : 2000, 
                  description : 'Two tables One Price'},
                {
                  id : 10, 
                  name : 'Large Black Leather L-Shaped home Cinema Couch', 
                  image : 'images/couches/blackLshape.jpg', 
                  price : 30000, 
                  description : 'Stylish Black Leather L-Shaped home Cinema Couch '},
                {
                  id : 11, 
                  name : 'White Leather reading Lounger', 
                  image : 'images/couches/fancyChair.jpg', 
                  price : 30000, description : 'Single seated Reading chair'},
                {
                  id : 12, 
                  name : 'Black and white Home office desk', 
                  image : 'images/desks/blackAndWhiteDesk.jpg', 
                  price : 2000, 
                  description : 'A Stylish Work Station'},
                {
                  id : 13, 
                  name : 'Large L-Shaped Work Station', 
                  image : 'images/desks/LshapeOffice.jpg', 
                  price : 4000, 
                  description : 'A spacious Corner Unit Desk'},
                {
                  id : 14, 
                  name : 'Combined Leisure and Home Office Station', 
                  image : 'images/desks/officeBed.jpg', 
                  price : 13000, 
                  description : 'Combine work, relaxation and Play'},
                {
                  id : 15, 
                  name : 'Truss Table styled desks', 
                  image : 'images/desks/trussTableOfficeDesk.jpg', 
                  price : 1500, 
                  description : 'Easy to assemble and move'},
                {
                  id : 16, 
                  name : 'Jet Black Chair', 
                  image : 'images/misc/blackChair.jpg', 
                  price : 1000, 
                  description : 'A chair for any Environment'},
                {
                  id : 17, 
                  name : 'Dinning Room Table', 
                  image : 'images/misc/whiteDiningRoomTable.jpg', 
                  price : 10000, description : 'Dining Room Table for the family'}
              ],
              cart : []
            },
                  
            methods: {
              add2cart(item){
                this.cart.push(item);
              },
              deleteItem(index){
                this.cart.splice(index, 1); 
            },
            // add a total for items in cart
            
        }
        
      });
        document.getElementById('tot').innerHTML = galleryItems.total();
        </script>
        
          <script src = "/script/modal.js"></script>
          <script src = "/script/vue.js"></script>
          <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <script src = "js/bootstrap.min.js"></script>
          <script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
          <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        </body>
</html>